/* Navbar Container */
.navbar {
  /* background: linear-gradient(to left, #9aa7db, #354fb7); */
  background-color: #c53678;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px; /* Add 20px padding on left and right */
  box-sizing: border-box; /* Ensure padding doesn’t affect overall width */
}

/* Brand Logo */
.brand-logo {
  width: 90px;
  height: 60px;
  margin-right: 10px;
}

/* Centered Welcome Message */
.welcome-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #333;
  font-size: 1.25rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: #007bff;
}

/* Profile Dropdown */
.dropdown-toggle {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #333;
  font-size: 1.1rem;
}

.profile-image {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}

.profile-image:hover {
  transform: scale(1.1);
}

.dropdown-toggle span {
  color: #000000;
  font-weight: 500;
}

.dropdown-menu {
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  color: #333;
  padding: 0.75rem 1.5rem;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

/* Media Queries */
@media (max-width: 991px) {
  .navbar-content {
    flex-direction: column;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .welcome-message {
    font-size: 1.25rem;
  }

  .profile-image {
    width: 35px;
    height: 35px;
  }

  .nav-link {
    font-size: 1.1rem;
  }
}
